p,.p2 {
    margin: 0;
    font-size: 14pt;
    text-indent: 2em;
}

.img_left {
    float: left;
}

.img_right {
    float: right;
}
.img_intro{
    font-size: 8pt;
    text-align: center;
}
a{
    margin: 10px;
}